@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #1d1d1d;
    font-size: 1.1rem;
}
h1 {
    font-size: calc(2.2vw + 1.5rem);
}
h2 {
    font-size: calc(1vw + 1.2rem);
}
li {
    list-style: none;
}
button,input,select {
    border: none;
    outline: none;
}





body {
    font-family: 'Alegreya Sans SC',
    sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color:#1ac6cc67;
}