
// Colores
$blanco: #f4f4f4;
$negro: #131313;
$primary: #1ac6cc;
$secondary: #e72de7;
$green: #1fb326;
// Media Queries
$telefono: 480px;
$tablet: 1050px;
$desktop: 1200px;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Separaciones
$paddingSide: 90px;
$separacion: 1.2em;

// Extra
$radius: 33px;
$shadow: -2px 13px 42px -17px rgba(0, 0, 0, 0.8);

@mixin gradient($primero, $segundo) {
    background: linear-gradient(to bottom, $primero 0%, $segundo 0);

    @include tablet {
        background: linear-gradient(to right, $primero 50%, $segundo 0);
    }
}

@mixin section($background) {
    padding: 0 0 0 $paddingSide;
    height: 100vh;
    background-color: $background;
}

@mixin shadow {
       -webkit-box-shadow: -2px 13px 42px -17px rgba(0, 0, 0, 0.8);
       -moz-box-shadow: -2px 13px 42px -17px rgba(0, 0, 0, 0.8);
       box-shadow: -2px 13px 42px -17px rgba(0, 0, 0, 0.8);
}

@mixin button($background) {
    background-color: $background;
    padding: .3em 1em;
    margin: 1em 0;
    color: white;
    border-radius: 33px;
    font-size:calc(1rem + .3vw);
    display: block;
    width: 100%;
    max-width:330px;
    border: 2px solid transparent;
    text-align: center;
    -webkit-box-shadow: -2px 13px 42px -17px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: -2px 13px 42px -17px rgba(0, 0, 0, 0.8);
    box-shadow: -2px 13px 42px -17px rgba(0, 0, 0, 0.8);
    transition: all .6s ease;
}




@mixin telefono {
    @media (min-width: $telefono) {
        @content
    }
};



@mixin tablet {
    @media (min-width: $tablet) {
        @content
    }
};

@mixin desktop {
    @media (min-width: $desktop) {
        @content
    }
};
